@import "@fontsource/inter";
@import "tailwindcss";

@theme {
  --color-light-50: #fcfcfc;
  --color-light-100: #f2f2f2;
  --color-light-200: #e8e8e8;
  --color-light-300: #dedede;
  --color-light-400: #d4d4d4;
  --color-light-500: #cacaca;
  --color-light-600: #c0c0c0;
  --color-light-700: #b6b6b6;
  --color-light-800: #acacac;
  --color-light-900: #a2a2a2;
  --color-light-950: #989898;
  --color-light: var(--color-light-50);

  --color-dark-50: #424242;
  --color-dark-100: #3e3e3e;
  --color-dark-200: #3a3a3a;
  --color-dark-300: #363636;
  --color-dark-400: #323232;
  --color-dark-500: #2e2e2e;
  --color-dark-600: #2a2a2a;
  --color-dark-700: #262626;
  --color-dark-800: #222222;
  --color-dark-900: #1e1e1e;
  --color-dark-950: #1a1a1a;

  --color-primary-50: #eff4fe;
  --color-primary-100: #e3e9fc;
  --color-primary-200: #ccd7f9;
  --color-primary-300: #adbcf4;
  --color-primary-400: #8b99ee;
  --color-primary-500: #6f78e5;
  --color-primary-600: #6564db;
  --color-primary-700: #4845bd;
  --color-primary-800: #3b3a99;
  --color-primary-900: #35357a;
  --color-primary-950: #201f47;

  --color-accent-50: #fdf3f3;
  --color-accent-100: #fce4e5;
  --color-accent-200: #fbcdcf;
  --color-accent-300: #f6abad;
  --color-accent-400: #ef767a;
  --color-accent-500: #e44f54;
  --color-accent-600: #d03237;
  --color-accent-700: #af262b;
  --color-accent-800: #912327;
  --color-accent-900: #792326;
  --color-accent-950: #410e10;

  --color-danger-50: #fff0f8;
  --color-danger-100: #ffe4f4;
  --color-danger-200: #ffc9eb;
  --color-danger-300: #ff9cd8;
  --color-danger-400: #ff5fbc;
  --color-danger-500: #ff30a0;
  --color-danger-600: #f50d7b;
  --color-danger-700: #e40066;
  --color-danger-800: #b0044e;
  --color-danger-900: #920944;
  --color-danger-950: #5b0025;

  --color-warning-50: #fefee8;
  --color-warning-100: #fffec2;
  --color-warning-200: #fff989;
  --color-warning-300: #fff05a;
  --color-warning-400: #fdde12;
  --color-warning-500: #ecc406;
  --color-warning-600: #cc9902;
  --color-warning-700: #a36d05;
  --color-warning-800: #86550d;
  --color-warning-900: #724611;
  --color-warning-950: #432405;

  --color-success-50: #ecfdf5;
  --color-success-100: #d1fae5;
  --color-success-200: #a6f4d0;
  --color-success-300: #6de8b6;
  --color-success-400: #32d598;
  --color-success-500: #0dab76;
  --color-success-600: #039869;
  --color-success-700: #037958;
  --color-success-800: #056046;
  --color-success-900: #054f3b;
  --color-success-950: #022c22;

  --spacing-half: 50%;
}

:root {
  font-family: "Inter", sans-serif;
  @apply bg-dark-600 text-light-50;
  @apply scheme-dark;
  @apply font-normal;
}

#root {
  @apply min-h-dvh h-dvh;
}
