@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import "tailwindcss";

@theme {
  --color-light-50: #fcfcfc;
  --color-light-100: #efefef;
  --color-light-200: #dcdcdc;
  --color-light-300: #bdbdbd;
  --color-light-400: #989898;
  --color-light-500: #7c7c7c;
  --color-light-600: #656565;
  --color-light-700: #525252;
  --color-light-800: #464646;
  --color-light-900: #3d3d3d;
  --color-light-950: #292929;
  --color-light: var(--color-light-50);

  --color-dark-50: #f6f6f6;
  --color-dark-100: #e7e7e7;
  --color-dark-200: #d1d1d1;
  --color-dark-300: #b0b0b0;
  --color-dark-400: #888888;
  --color-dark-500: #6d6d6d;
  --color-dark-600: #5d5d5d;
  --color-dark-700: #4f4f4f;
  --color-dark-800: #454545;
  --color-dark-900: #3d3d3d;
  --color-dark-950: #222222;
  --color-dark: var(--color-dark-950);

  --color-primary-50: #eff4fe;
  --color-primary-100: #e3e9fc;
  --color-primary-200: #ccd7f9;
  --color-primary-300: #adbcf4;
  --color-primary-400: #8b99ee;
  --color-primary-500: #6f78e5;
  --color-primary-600: #6564db;
  --color-primary-700: #4845bd;
  --color-primary-800: #3b3a99;
  --color-primary-900: #35357a;
  --color-primary-950: #201f47;
  --color-primary: var(--color-primary-600);

  --color-accent-50: #fdf3f3;
  --color-accent-100: #fce4e5;
  --color-accent-200: #fbcdcf;
  --color-accent-300: #f6abad;
  --color-accent-400: #ef767a;
  --color-accent-500: #e44f54;
  --color-accent-600: #d03237;
  --color-accent-700: #af262b;
  --color-accent-800: #912327;
  --color-accent-900: #792326;
  --color-accent-950: #410e10;
  --color-accent: var(--color-accent-400);

  --color-danger-50: #fff0f8;
  --color-danger-100: #ffe4f4;
  --color-danger-200: #ffc9eb;
  --color-danger-300: #ff9cd8;
  --color-danger-400: #ff5fbc;
  --color-danger-500: #ff30a0;
  --color-danger-600: #f50d7b;
  --color-danger-700: #e40066;
  --color-danger-800: #b0044e;
  --color-danger-900: #920944;
  --color-danger-950: #5b0025;
  --color-danger: var(--color-danger-700);
}

:root {
  font-family: "Inter", sans-serif;
  @apply bg-light text-dark dark:bg-dark dark:text-light;
  @apply scheme-light dark:scheme-dark;
  @apply font-normal;
}

#root {
  @apply flex flex-col flex-nowrap min-h-dvh;
}

h1,
h2,
h3 {
  @apply font-bold;
}
